        :root {
           --flex: flex;
           --row: row;
           --color: yellow;
       }
       
       .container {
           border: 0.2em solid greenyellow;
       }
       
       .first {
           display: flex;
           align-items: center;
           flex-direction: column;
           background-color: var(--color);
       }
       
       .second {
           display: flex;
           align-items: center;
           flex-direction: column;
           background-color: var(--color);
           /* }deuxième solution mettre chaque element input label dans des div separées +text-align center pour le container */
       }